.header {
    background: #0F2438;
}
.container {
    width: 100%;
    background: #0F2438;
    height: 100%;
    display: flex;
    justify-content: space-between;
  padding-left: 0;
    padding-right: 0;
    }
.container1 {
    display: flex;
}
.container1 img {
    width: 22px;
    height: 22px;
    margin-top: 13px;
}

.nav-link, .btn, .navbar-brand {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.btn-primary {
    color: #fff;
    background: none;
    border-color: grey;

}
.header_menu_right1 {
display: none;
}
.header_menu_right2 {
display: none;
}

.header_kontakt_logo {
    display: flex;
    background: white;
    align-items: center;
    width: 100%;
    column-gap: 54px;
}
.logo img {
    width: 66px;
    height: 71px;
}
.logo {
    display: flex;
}
.logo h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
}
.logo p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
}
.logo1 {
    margin-top: 11px;
}
.time {
    display: flex;
    width: 267px;
    align-items: center;
}
.time img {
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
}
.time p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
    margin-top: 12px;
}
.adres {
    display: flex;
    margin-top: -13px;
}

.adres p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}
.wahtsapp {
    width: 204px;
    height: 30px;
    background: #E1EFD0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -9px;
}
.wahtsapp p {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
}
.phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.phone h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
}
.phone p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
    margin-top: -10px;
}
.button {
    display: flex;
    width: 100%;
    background: white;
}
.button1 {
    display: flex;
    align-items: center;
}
.button11 {
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.btn__button1 {
    display: flex;
    width: 20px;
    row-gap: 4px;
    flex-direction: column;
}
.btn__button1 div {
    width: 20px;
    height: 3px;
    background-color: white;

}
.katalog {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: blue;
    width: 120px;
    height: 53px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.form-inline {
    display: flex;
}
.form-control {
    width: 549px;
    height: 53px;
}
.btn-outline-success {
    width: 101px;
    height: 53px;
    background-color: blue;
}
.button2 {
    display: flex;
    column-gap: 20px;
    margin-left: 80px;

}
.come {
    display: flex;
}
.user {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.user img {
    width: 28px;
    height: 28px;
}
.user p {
    margin-top: 13px;
    margin-bottom: 1rem;
}
.border {
    width: 0px;
    height: 53px;
    margin-left: 20px;
}
.photo__bacground img {
    position: absolute;
}
.clutch  img{
     position: relative;
}
.chevron img {
   top: 337px;
    position: absolute;
}
.tekst__clutch {
    display: flex;
    align-items: center;
    margin-left: 100px;
    column-gap: 100px;
}

.tekst h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
    position: relative;
}
.tekst h3 {
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
    position: relative;
}
.tekst h1 {
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
    position: relative;
    margin-top: 20px;
}
.cart {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: blue;
    width: 160px;
    height: 49px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cart img {
    position: relative;

}



